h1 {
	color: blue;
	border-bottom: solid gold 2px;
	text-align: center;
}

.cnn10 {
	background-color: rgb(188, 215, 98);
	color: black;
}

.cnn10_list {
	display: block;
	border: solid black 1px;
	width: 300px;
	height: 100px;
	
}

.cnn10_video {
	width: 300px;
	height: 240px;
	border: 1px solid black;
}

.cnn10_article {
	width: 500px;
	height: 342px;
	border: solid black 1px;
}

.cnn10_grid {
	display: grid;
	grid-template-columns: 300px, 1fr;
}